<!doctype html>
<html>
  <head>
    <title>api template</title>
  </head>
  <body>
    <form action="/results" method="post">
        <input type="text" name="artist">
        <input type="submit">
    </form>
  </body>
</html>